<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/colors.css">
  <title>Mi Perfil</title>
</head>
<body>
  <div class="border-bottom">
    <div th:replace="~{fragments/navbar :: navbar-black-nofixed}"></div>
  </div>
  <main th:if="${usuario}" class="col-9 bg-brand mx-auto mt-5 p-4 text-white rounded">
    <header class="d-flex justify-content-between align-items-start">
      <h1 class="mb-4">
        <span th:text="${usuario.nombre}"></span>
        <span th:text="${usuario.apellidos}"></span>
      </h1>
      <a href="/academia/create" class="btn btn-light">Crear una academia</a>
    </header>
    <ul class="list-unstyled">
      <li th:text="${usuario.email}"></li>
    </ul>
    <section class="mt-5">
      <h1>Mis Academias</h1>
      <ul class="list-unstyled">
        <div th:if="${academias.get('director')}" th:each="academia : ${academias.get('director')}">
          <li class="ms-3">
            <h5 style="line-height: 1rem;" th:text="${academia.nombre}"></h5>
            <span style="opacity: 0.5;">Director</span>
          </li>
        </div>
        <div th:if="${academias.get('alumno')}" th:each="academia : ${academias.get('alumno')}">
          <li class="ms-3">
            <h5 style="line-height: 1rem;" th:text="${academia.nombre}"></h5>
            <span style="opacity: 0.5;">Alumno</span>
          </li>
        </div>
        <div th:if="${academias.get('profesor')}" th:each="academia : ${academias.get('profesor')}">
          <li class="ms-3">
            <h5 style="line-height: 1rem;" th:text="${academia.nombre}"></h5>
            <span style="opacity: 0.5;">Profesor</span>
          </li>
        </div>
      </ul>
    </section>
    <section class="mt-5">
      <h1 class="mt-5 d-inline" style="line-height: 1rem;">Candidaturas Activas</h1>
      <span th:if="${#sets.size(ofertasAplicadas) == 0}" class="d-block ms-3 opacity-50">No has aplicado a ninguna oferta.</span>
      <ul th:if="${#sets.size(ofertasAplicadas) > 0}" class="list-unstyled mt-2">
        <div th:if="${ofertasAplicadas}" th:each="oferta : ${ofertasAplicadas}">
          <li class="ms-3">
            <h5 style="line-height: 1rem;" th:text="${oferta.titulo}"></h5>
            <span style="opacity: 0.5;" th:text="${oferta.academia.nombre}"></span>
          </li>
        </div>
      </ul>
    </section>
  </main>
  <main th:unless="${usuario}">
    <p>Usuario no encontrado.</p>
  </main>
</body>
</html>