<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/colors.css">
  <title th:text="${academia.nombre}">Academia</title>
</head>
<body class="bg-brand-dark text-white">
  <nav th:replace="~{fragments/navbar :: navbar-nofixed}"></nav>
  <main class="p-3 p-md-5">
    <div class="d-flex flex-column flex-md-row justify-content-between gap-4 align-items-start">
      <div>
        <h1 th:text="${academia.nombre}">Nombre de la academia</h1>
        <p class="lead text-white-50 mb-0" th:if="${academia.descripcion}" th:text="${academia.descripcion}">Descripcion de la academia</p>
      </div>
      <a class="btn text-white border" th:href="@{/academias/{id}/editar(id=${academia.id})}" th:if="${director}">Editar academia</a>
    </div>
    <section class="mt-5">
      <div class="d-flex flex-column flex-sm-row gap-3 gap-md-5 align-items-sm-center">
        <h1 class="mb-0">Ofertas</h1>
        <a class="btn text-white border" th:href="@{/ofertas/crear?academiaId={id}(id=${academia.id})}" th:if="${director}">Crear oferta</a>
      </div>
      <ul>
        <li th:each="oferta : ${ofertasActivas}">
          <a class="link-light" th:href="@{/ofertas/{id}(id=${oferta.id})}" th:text="${oferta.titulo}"></a>
        </li>
      </ul>
      <div th:if="${alumno == null && director == null}">
        <span>No puedes ver las ofertas de esta academia. Solo los alumnos matriculados y el director pueden verlas.</span>
        <div class="d-flex flex-column flex-sm-row gap-3 gap-md-5 align-items-sm-center">
          <h1 class="mb-0">Cursos Disponibles</h1>
        </div>
        <ul>
          <li th:each="curso : ${cursosActivos}">
            <a class="link-light" th:href="@{/academias/{academiaId}/cursos/{id}(academiaId=${academia.id}, id=${curso.id})}" th:text="${curso.nombre}"></a>
          </li>
        </ul>
      </div>
      
      <div th:if="${alumno}">        
        <h1 class="mb-0">Mis Cursos</h1>
        <span th:if="${#sets.size(alumno.cursos) == 0}">No estás matriculado en ningún curso.</span>
        <ul th:if="${#sets.size(alumno.cursos) > 0}">
          <li th:each="curso : ${alumno.cursos}">
            <a class="link-light" th:href="@{/academias/{academiaId}/cursos/{id}(academiaId=${academia.id}, id=${curso.id})}" th:text="${curso.nombre}"></a>
          </li>
        </ul>
      </div>

      <div th:if="${director}">
        <div class="d-flex flex-column flex-sm-row gap-3 gap-md-5 align-items-sm-center">
          <h1>Todo los cursos</h1>
          <a class="btn text-white border" th:href="@{/academias/{academiaId}/cursos/crear(academiaId=${academia.id})}" th:if="${director}">Crear curso</a>
        </div>
        <ul>
          <li th:each="curso : ${cursos}">
            <a class="link-light" th:href="@{/academias/{academiaId}/cursos/{id}(academiaId=${academia.id}, id=${curso.id})}" th:text="${curso.nombre}"></a>
          </li>
        </ul>
      </div>
    </section>
  </main>
</body>
</html>
