<th:block xmlns:th="http://www.thymeleaf.org">
  <div th:if="${exito}" class="alert alert-success alert-dismissible fade show" role="alert">
    <span th:text="${exito}"></span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
  </div>
  <div th:if="${error}" class="alert alert-danger alert-dismissible fade show" role="alert">
    <span th:text="${error}"></span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
  </div>
</th:block>
