<th:block xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:fragment="navbar">
  <style>
    .nav-link:hover{
      text-decoration: underline;
    }
  </style>
  <header class="container-fluid fixed-top">
    <nav class="navbar gap-4 p-4 text-white d-grid" style="grid-template-columns: repeat(3, 1fr);">
      <a class="nav-link" href="/">Home</a>
      <ul class="list-unstyled d-flex align-items-center mb-0 mx-auto gap-5">
        <li>
          <a class="nav-link" href="/academias/find">Buscar academia</a>
        </li>
        <li>
          <a class="nav-link" href="/academias/mi">Mis Academias</a>
        </li>
        <li>
          <a class="nav-link" href="/ofertas/buscar">Ofertas</a>
        </li>
      </ul>
      <div class="ms-auto">
        <div class="d-flex gap-5" sec:authorize="isAnonymous()">
          <a class="nav-link" href="/login">Iniciar sesión</a>
          <a class="nav-link" href="/registro">Registrarse</a>
        </div>
        <div class="d-flex gap-4 align-items-center"  sec:authorize="isAuthenticated()">
          <form action="#" th:action="@{/logout}" method="post">
            <button class="nav-link" type="submit">Cerrar sesión</button>
          </form>
          <a class="rounded border p-1 text-white text-decoration-none" href="/perfil">Perfil</a>
        </div>
      </div>
    </nav>
  </header>
</th:block>

<th:block xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:fragment="navbar-nofixed">
  <style>
    .nav-link:hover{
      text-decoration: underline;
    }
  </style>

  <header class="container-fluid">
    <nav class="navbar gap-4 p-4 text-white d-grid" style="grid-template-columns: repeat(3, 1fr);">
      <a class="nav-link" href="/">Home</a>
      <ul class="list-unstyled d-flex align-items-center mb-0 mx-auto gap-5">
        <li>
          <a class="nav-link" href="/academias/find">Buscar academia</a>
        </li>
        <li>
          <a class="nav-link" href="/academias/mi">Mis Academias</a>
        </li>
        <li>
          <a class="nav-link" href="/ofertas/buscar">Ofertas</a>
        </li>
      </ul>
      <div class="ms-auto">
        <div class="d-flex gap-5" sec:authorize="isAnonymous()">
          <a class="nav-link" href="/login">Iniciar sesión</a>
          <a class="nav-link" href="/registro">Registrarse</a>
        </div>
        <div class="d-flex gap-4 align-items-center" sec:authorize="isAuthenticated()">
          <form action="#" th:action="@{/logout}" method="post">
            <button class="nav-link" type="submit">Cerrar sesión</button>
          </form>
          <a class="rounded border p-1 text-white text-decoration-none" href="/perfil">Perfil</a>
        </div>
      </div>
    </nav>
  </header>
</th:block>

<th:block xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:fragment="navbar-black-nofixed">
  <style>
    .nav-link:hover{
      text-decoration: underline;
    }
  </style>

  <header class="container-fluid">
    <nav class="navbar gap-4 p-4 text-black d-grid" style="grid-template-columns: repeat(3, 1fr);">
      <a class="nav-link" href="/">Home</a>
      <ul class="list-unstyled d-flex align-items-center mb-0 mx-auto gap-5">
        <li>
          <a class="nav-link" href="/academias/find">Buscar academia</a>
        </li>
        <li>
          <a class="nav-link" href="/academias/mi">Mis Academias</a>
        </li>
        <li>
          <a class="nav-link" href="/ofertas/buscar">Ofertas</a>
        </li>
      </ul>
      <div class="ms-auto">
        <div class="d-flex gap-5" sec:authorize="isAnonymous()">
          <a class="nav-link" href="/login">Iniciar sesión</a>
          <a class="nav-link" href="/registro">Registrarse</a>
        </div>
        <div class="d-flex gap-4 align-items-center" sec:authorize="isAuthenticated()">
          <form action="#" th:action="@{/logout}" method="post">
            <button class="nav-link" type="submit">Cerrar sesión</button>
          </form>
          <a class="rounded border p-1 text-black text-decoration-none" href="/perfil">Perfil</a>
        </div>
      </div>
    </nav>
  </header>
</th:block>