<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <form action="#" th:action="@{/login}" th:object="${usuario}" method="POST">
    <label>Usuario:</label>
    <input type="text" name="username" required>
    
    <label>Contraseña:</label>
    <input type="password" name="password" required>
    
    <button type="submit">Iniciar Sesión</button>
  </form>
</body>
</html>