<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profesores</title>
</head>
<body>
  <h1>Profesores</h1>
  <ul>
    <li th:each="profesor : ${profesores}">
      <h3 th:text="${profesor.nombre}">Fallo en el nombre</h3>
      <p th:text="${profesor.apellidos}"></p>
      <p th:text="${profesor.asignatura}"></p>
      <p th:text="${profesor.email}"></p> 
    </li>
  </ul>

  <button>Añadir profesor</button>
  <script>
    const button = document.querySelector('button')
    button.addEventListener('click', () => {
      fetch('/profesores', {
        method: 'POST',
        headers: {
        'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          nombre: 'Ignacio', 
          apellidos: 'Perez Mornay', 
          email: 'ignacio@gmail.com'
        })
      }).then(res => {
        if(res.ok) {
          window.location.href = window.location.pathname;
        }
      })
    })
  </script>
</body>
</html>