<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/colors.css">
  <title>Document</title>
</head>
<body class="bg-brand-dark">
  <div th:replace="~{fragments/navbar :: navbar-nofixed}"></div>
  <main class="p-4 text-white">
    <section>
      <h1>Candidatos</h1>
      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Email</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="candidato : ${candidatos}">
            <td th:text="${candidato.nombre}"></td>
            <td th:text="${candidato.email}"></td>
            <td>
              <form action="#" method="post" th:action="@{/ofertas/{id}/aceptar/{candidatoId}(id=${oferta.id}, candidatoId=${candidato.id})}">
                <button class="btn btn-success">Aceptar</button>
              </form>
              <form action="#" method="post" th:action="@{/ofertas/{id}/rechazar/{candidatoId}(id=${oferta.id}, candidatoId=${candidato.id})}">
                <button class="btn btn-danger">Rechazar</button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- <ul>
        <li th:each="candidato : ${candidatos}" th:text="${candidato.nombre}"></li>
      </ul> -->
    </section>
  </main>
</body>
</html>