<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/colors.css">
  <title>Registro</title>
  <style>
    input::placeholder {
      color: #aaa !important;
      opacity: 1;
    }
  </style>
</head>
<body class="d-grid bg-brand-extralight min-vh-100 py-4" style="place-content:center;">
  <form class="d-flex flex-column bg-white gap-3 container border p-4 rounded shadow-lg" action="#" th:action="@{/ofertas/editar(id=${oferta.id})}" th:object="${oferta}" method="POST">
    <div class="row g-4">
      <div class="col-12 col-md-6 col-xl-3">
        <label class="form-label" for="titulo">*Titulo</label>
        <input class="form-control" type="text" id="titulo" name="titulo" th:field="*{titulo}" placeholder="Oferta de alumnado" required>
      </div>
      
      <div class="col-12 col-md-6 col-xl-3">
        <label class="form-label" for="descripcion">Descripción</label>
        <textarea class="form-control" type="text" id="descripcion" name="descripcion" th:field="*{descripcion}" maxlength="500" placeholder="Escribe aquí lo que quieras..."></textarea>
      </div>
      
      <div class="col-12 col-md-6 col-xl-3">
        <label for="tipoOferta">Tipo de la oferta</label>
        <select class="form-select" name="tipoOferta" th:field="*{tipoOferta}" id="tipoOferta">
          <option value="profesor">Profesor</option>
          <option value="alumno">Alumno</option>
          <option value="direccion">Dirección</option>
        </select>
      </div>
      
      <div class="col-12 col-md-6 col-xl-3">
        <label for="cursoId">Curso</label>
        <select class="form-select" id="cursoId" th:field="*{curso}">
          <option value="">Selecciona un curso</option>
          <option th:each="curso : ${cursos}" th:value="${curso.id}" th:text="${curso.nombre}"></option>
        </select>
      </div>
      <input type="hidden" th:field="*{academia.id}" />
    </div>
    <button class="btn bg-brand text-white" type="submit">Editar oferta</button>
  </form>
  <script>
    const tipoOferta = document.getElementById('tipoOferta');
    const cursoId = document.getElementById('cursoId');

    function actualizarCurso() {
      if (tipoOferta.value == 'direccion') {
        cursoId.value = '';
        cursoId.disabled = true;
        cursoId.required = false;
      } else if (tipoOferta.value == 'alumno') {
        cursoId.disabled = false;
        cursoId.required = true;
      } else {
        cursoId.disabled = false;
        cursoId.required = false;
      }
    }

    tipoOferta.addEventListener('change', actualizarCurso);
    actualizarCurso();
  </script>
    <div th:replace="~{fragments/footer :: pie}"></div>
</body>
</html>
